
<body>
<nav style="background-color:grey; height: 70px; margin:auto" class="navbar ">
    <a style="font-size:25px;padding-left: 550px;color:azure;" class="navbar-brand" href="#">Hospital Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="font-size:15px;padding-left:900px;color:aqua;"class="nav-link active" aria-current="page" href="javascript:void(0);"routerLink="/appointmentlist">Appointments</a>
          
        </li>
        </ul>
        </div>
       </nav>
       <div class="container">
          <hr><h2 style="color:blue;text-align: center;margin-top: 20px;">Admin Dashboard</h2>
<a style="color: rgb(86, 86,86);font-size: x-large;"><marquee behavior="scroll" direction="left">Welcome to Admin Dashboard.Please find the patient list below!!.Click Appointments to view and update Appointments,Click Add Appointment to add new Appointment</marquee></a>
  
<hr><a style="color: rgb(86, 86, 86); font-size: xx-large;">Current Patient List in the Queue</a>   

 <div class="tableFixHead"><br>
<table class="table table-striped">
  <thead>
      <tr>
          <th>PatientId&nbsp;&nbsp;</th>
         <th>FirstName&nbsp;&nbsp;</th> 
         <th>MiddleName&nbsp;&nbsp;</th>
         <th>SurName&nbsp;&nbsp;</th>
         <th>Age&nbsp;&nbsp;</th>
         <th>PhoneNumber&nbsp;&nbsp;</th>
         <th>BloodGroup&nbsp;&nbsp;</th>
      </tr>
  </thead>
  <tbody><tr *ngFor="let patient of patients ">
<td>{{patient.patientId}}</td>
<td>{{patient.firstName}}</td>
<td>{{patient.middleName}}</td>
<td>{{patient.surName}}</td>
<td>{{patient.age}}</td>
<td>{{patient.phoneNumber}}</td>
<td>{{patient.bloodGroup}}</td>
  </tr></tbody>
</table>
</div>
</div>
</body>
